

    <p><%= link_to task.title, task %></p>
    <p><%= task.description %></p>
    <p><%= task.priority %></p>
    <p><%= task.created_at %></p>
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task, method: :delete,
            data: { confirm: 'Are you sure?' } %></p>
