
<div id="task">
    <div id="title">
    <%= link_to task.title, task %><br/>
    </div>
    <!--<%= task.description %><br/>-->
    <%= task.priority or '0' %><br/>
    <!--<%= task.created_at %><br/>-->
    <%= link_to 'Edit', edit_task_path(task) %>
    <%= link_to 'Destroy', task, method: :delete,
            data: { confirm: 'Are you sure?' } %><br/>
            <p></p>
</div>
