<tr>
  <td><%= link_to task.title, task_list_task_path(@task_list, task) %></td>
  <td><%= task.description %></td>
  <td><%= task.priority %></td>
  <td><%= task.created_at %></td>
  <td><%= link_to 'Subtask', new_task_list_task_path(@task_list, :parent_id => task) %></td>
  <td><%= link_to 'Edit', edit_task_list_task_path(@task_list, task) %></td>
  <td><%= link_to 'Destroy', task_list_task_path(@task_list, task), method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
