<h1>Listing tasks</h1>

<ul id="task list">
  <% @tasks.each do |task| %>
    <li id="<%= task.title %>"><%= link_to task.title, task %>
       | <%= link_to 'Create Subtask', new_task_subtask_path(task) %>
       | <%= link_to 'Edit', edit_task_path(task) %>
       | <%= link_to 'Delete', task_path(task),
          method: :delete,
          confirm: "Are you sure you want to delete this task?" %>
          <ul id="subtasks">
            <% task.subtasks.each do |subtask| %>
            <li id="<%= subtask.title %>">
              <%=link_to subtask.title, [task, subtask] %>
            </li>
          <% end %>
          </ul>
    </li>
  <% end %>
</ul>

<%= link_to 'New Task', new_task_path %>


