<p id="notice"> </p>
<div id='task'>
  <p>
    <b>Title:</b>
    <%= @task.title %>
  </p>
  </div>

  <p>
    <b>Description:</b>
    <%= @task.description %>
  </p>
  <p>
    <b>Priority:</b>
    <%= @task.priority %>
  </p>

  <p>
    <b>Created at:</b>
    <%= @task.created_at %>
  </p>
  <div class="actions">
    <%= link_to 'Edit', edit_task_path(@task) %> |
    <%= link_to 'Back', tasks_path %>
  </div>
</div>



