<p id="notice"> </p>
<div id='task'>
  <p>
    <b>Title:</b>
    <%= @task.title %>
  </p>
    <span id='author'>Created by <%= @task.user.email %></span>
  </div>

  <p>
    <b>Description:</b>
    <%= @task.description %>
  </p>
  <p>
    <b>Priority:</b>
    <%= @task.priority %>
  </p>

  <p>
    <b>Created at:</b>
    <%= @task.created_at %>
  </p>

  <% nested_tasks @task.children.arrange(:order => :created_at).each do |subtask| %>
    <%= render(subtask) %>
  <% end %>

  <div class="actions">
    <%= link_to 'Subtask', new_task_list_task_path(@task_list, :parent_id => @task) %>
    <%= link_to 'Edit', edit_task_list_task_path(@task_list, @task) %> |
    <%= link_to 'Back', task_list_tasks_path(@task_list) %>
  </div>
</div>



